.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 210px;
    border-radius: 25px;
    border: 1px solid #929292;
    background-color: #ffffff;
    padding: 20px;
    transition: box-shadow 0.5s ease-in-out, transform 0.2s ease-in-out;

    &:hover{
      box-shadow: 0px 14px 30px rgba(0,0,0,0.05);
      transform: translateY(-5px);
      
    }

    .cardImage {
      // пофиксить растяжку изображений
      width: 133px;
      height: 112px;
      margin: 0 auto;
      margin-bottom: 20px;
      flex: 1 1 1;
    }
    .cardFavButton {
      display: flex;
      background: #ffffff;
      border: 0;
      border-radius: 8px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      padding: 0;

    }


    .cardAddButton {
      display: flex;
      background: #ffffff;
      border: 0;
      border-radius: 8px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      padding: 0;
      img {
        margin-top: 4px;
        margin: 0;
        margin-right: 1px;
      }
    }

      h5,h3, p, b {
      margin: 0;
    }

    h3{
      margin-bottom: 14px;
    }

    h5 {
      font-size: 17px;

    }

    p {
      opacity: 0.5;
      text-transform: uppercase;
    }

    b {
      font-size: 15px;
    }

    

  }