* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #e7f6ff;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  max-height: 1500px;
  margin: 50px auto;

  
}

header {
  border-bottom: 1px solid #929292;
  padding: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  p,
  h3 {
    margin: 0;
  }

  .logo {
    width: 40px;
    height: 40px;
    transition: transform 2s ease-in-out 0.2s;

    &:hover {
      
      transform:rotate(360deg);
    }
  }
  .cart-img {
    // transition: transform 0.5s ease-in-out;
    // box-shadow: 0px 2px 5px black;
    // &:hover{
    //   transform:scale()
    // }
  }

  .headerRight {
    list-style: none;
  }
}

.content {
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 45px;
  .content-header {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .items-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    
  }
  
  .search-block {
    border: 1px solid #929292;
    border-radius: 10px;
    height: 45px;
    width: 250px;
    padding: 10px;
    input {
      border: 0;
      padding: 10px;
      font-size: 16px;
    }
  }
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  
  width: 385px;
  height: 100%;
  right: 0;
  padding: 30px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  

  .cartButtonClose {
      width: 32px;
      height: 32px;
      background-color: #FFFFFF;
      border: 1px solid #DBDBDB;
      border-radius: 8px;
      cursor: pointer;
      img {
        width: 11px;
        height: 11px;
        margin: 0 auto;
        
      }
    }

  h2 {
    margin: 0;
    font-size: 24px;
  }

  .cartItems{
    gap: 20px;
    flex: 1;
    overflow: auto;
    
  }

  .cartItem {
    width: 325px;
    height: 120px;
    padding: 20px;
    border: 1px solid #929292;
      border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
    img {
      width: 70px;
      height: 70px;
      margin: 0;
      margin-right: 20px;
    }
    p {
      font-size: 18px;
      margin: 0;
      margin-bottom: 10px;
    }
    b {
      margin: 0;
      font-size: 18px;
    }

    .cartItemButtonClose {
      width: 32px;
      height: 32px;
      background-color: #FFFFFF;
      border: 1px solid #DBDBDB;
      border-radius: 8px;
      cursor: pointer;
      img {
        width: 11px;
        height: 11px;
        margin: 0 auto;
      }
    }

    
  }
  .cartTotalBlock {
      li {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
      }

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 5px 0 5px;
      }

      
    }

 .GreenButton {
        position: relative;
        height: 55px;
        width: 100%;
        border-radius: 18px;
        border: 0;
        color: white;
        font-weight: 600;
        font-size: 16px;
        background-color: #9DD458;

        margin-top: 5px;
        cursor: pointer;
        transition: background 0.2s ease-in-out;

        img {
          position: absolute;
          right: 30px;
          top: 22px;
          transition: transform 0.2s ease-in-out;


        }

        &:hover {
          background: lighten( #9DD458, 5%);

          img {
            transform: translateX(5px);
          }
        }

        &:active {
          background: darken( #9DD458, 10%);
        }
      }
      
   .cartEmpty {
    margin: auto 0;
    p {
      text-align: center;
    }
   }
   .cartTotal {
    margin: auto 0 0 0;
   }   
}